
*.cache
.vs/Geekium/v16/.suo
Geekium/obj/Geekium.csproj.nuget.dgspec.json
Geekium/obj/project.assets.json
.vs/Geekium/DesignTimeBuild/.dtbcache.v2
.vs/Geekium/v16/.suo
Geekium/obj/Debug/netcoreapp3.1/Geekium.assets.cache
Geekium/obj/Debug/netcoreapp3.1/Geekium.csprojAssemblyReference.cache
Geekium/obj/Geekium.csproj.nuget.dgspec.json
Geekium/obj/project.assets.json
Geekium/obj/project.nuget.cache
Geekium/obj/Debug/netcoreapp3.1/Geekium.assets.cache
*.cache
*.json
*.props
*.json
*.cache
*.cache
Geekium/obj/Debug/netcoreapp3.1/Geekium.assets.cache
Geekium/obj/Debug/netcoreapp3.1/Geekium.csprojAssemblyReference.cache
Geekium/obj/Geekium.csproj.nuget.dgspec.json
Geekium/obj/Geekium.csproj.nuget.g.props
Geekium/obj/project.assets.json
Geekium/obj/project.nuget.cache
.vs/Geekium/v16/.suo
Geekium/obj/Debug/netcoreapp3.1/Geekium.assets.cache
*.cache
*.json
*.props
*.dll
.vs/Geekium/config/applicationhost.config
Geekium/appsettings.json
Geekium/bin/Debug/netcoreapp3.1/Geekium.exe
Geekium/bin/Debug/netcoreapp3.1/Geekium.pdb
Geekium/bin/Debug/netcoreapp3.1/Geekium.Views.pdb
Geekium/Models/GeekiumContext.cs
Geekium/obj/Debug/netcoreapp3.1/Geekium.csproj.FileListAbsolute.txt
Geekium/obj/Debug/netcoreapp3.1/Geekium.exe
Geekium/obj/Debug/netcoreapp3.1/Geekium.pdb
Geekium/obj/Debug/netcoreapp3.1/Geekium.Views.pdb
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/AccountPurchases/Create.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/AccountPurchases/Delete.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/AccountPurchases/Details.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/AccountPurchases/Edit.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/AccountPurchases/Index.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/Accounts/Create.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/Accounts/Delete.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/Accounts/Details.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/Accounts/Edit.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/Accounts/Index.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/Accounts/Login.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/Carts/CheckOut.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/Carts/Index.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/Home/About.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/Home/Credit.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/Home/FAQ.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/Home/Support.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/MyListings/CreateSell.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/MyListings/CreateService.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/MyListings/CreateTrade.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/MyListings/Index.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/MyListings/SellDetails.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/MyListings/ServiceDetails.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/MyListings/TradeDetails.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/PriceTrends/Create.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/PriceTrends/Delete.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/PriceTrends/Details.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/PriceTrends/Edit.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/PriceTrends/Index.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/Receipts/Index.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/Rewards/Create.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/Rewards/Delete.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/Rewards/Details.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/Rewards/Edit.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/Rewards/Index.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/SellerReviews/Create.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/SellerReviews/Delete.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/SellerReviews/Details.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/SellerReviews/Edit.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/SellerReviews/Index.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/SellListings/Details.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/SellListings/Edit.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/SellListings/Index.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/ServiceListings/Delete.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/ServiceListings/Details.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/ServiceListings/Edit.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/ServiceListings/Index.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_LoginPartial.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/TradeListings/Delete.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/TradeListings/Details.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/TradeListings/Edit.cshtml.g.cs
Geekium/obj/Debug/netcoreapp3.1/Razor/Views/TradeListings/Index.cshtml.g.cs
Geekium/obj/Geekium.csproj.nuget.dgspec.json
Geekium/obj/Geekium.csproj.nuget.g.props
Geekium/obj/project.assets.json
Geekium/obj/project.nuget.cache
