@model Geekium.Models.AccountPurchase

@{
    ViewData["Title"] = "Details";
}

<h1>Purchase History</h1>

<body>
    <table class="table">
        <tr>
            <th>Product</th>
            <th>Images appear below</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
        @{ var count = 0; }
        @foreach (var item in Model.Cart.ItemsForCart)
        {
            <tr>
                <td class="truncate">@Html.DisplayFor(modelItem => item.SellListing.SellTitle)</td>
                <td><!-- Image --></td>
                <td class="truncate">@Html.DisplayFor(modelItem => item.SellListing.SellDescription)</td>
                <td> $@Html.DisplayFor(modelItem => item.SellListing.SellPrice) </td>
                <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
            </tr>
            count++;
        }
    </table>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</body>