@model IEnumerable<Geekium.Models.AccountPurchase>

@{
    ViewData["Title"] = "Purchases";
}

<h1>Account Purchases</h1>
<table class="table">
	<thead>
		<tr>
			<th>
				Date of Purchase
			</th>
			<th>
				Purchase Price
			</th>
			<th>
				Points Gained
			</th>
			<th>
				Details
			</th>
		</tr>
	</thead>
	@foreach (var item in Model)
	{
		<tbody>
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.PurchaseDate)
				</td>
                <td>
                    @{
                        string itemPrice = item.PurchasePrice.ToString("#0.00");
                    }
                    @Html.DisplayFor(modelItem => itemPrice)
                </td>
				<td>
					@Html.DisplayFor(modelItem => item.PointsGained)
				</td>
                <th>
                    <a asp-action="Details" asp-route-id="@item.CartId">Details</a>
                </th>
			</tr>
		</tbody>
	}
	</table>
