@model Geekium.Models.PriceTrend

@{
    ViewData["Title"] = "Details";
}
<body>
	<div>
		<a class="btn btn-primary" type="button" asp-action="Index" asp-route-id="@Model.PriceTrendId">Back to List</a>
	</div>

	<br />

	<h1>@Html.DisplayFor(model => model.ItemName)</h1>
	<p>
		Last Updated: @Html.DisplayFor(model => model.DateOfUpdate)
	</p>
	<hr />
	<h3>Average Price: $@Html.DisplayFor(model => model.AveragePrice)</h3>
	<p>Highest Price: $@Html.DisplayFor(model => model.HighestPrice)</p>
	<p>Lowest Price: $@Html.DisplayFor(model => model.LowestPrice)</p>
	<div>
		<a class="btn btn-info" type="button" asp-action="Details" asp-controller="SellListings" asp-route-id="@Model.PriceTrendId">View Current Listing</a>
	</div>
</body>
