@model AccountViewModel
@{
	ViewBag.Title = "Create";
}
<h2>Create</h2>

<form method="post" asp-controller="Accounts" asp-action="Create" asp-route-returnurl="@Model.ReturnUrl">
	<div>
		<label asp-for="Username">Username:</label>
		<input asp-for="Username" />
	</div>
	<div>
		<label asp-for="Password">Password:</label>
		<input asp-for="Password" />
	</div>
	<div>
		<label asp-for="FirstName">First Name:</label>
		<input asp-for="FirstName" />
	</div>
	<div>
		<label asp-for="LastName">Last Name:</label>
		<input asp-for="LastName" />
	</div>
	<div>
		<label asp-for="Email">Email:</label>
		<input asp-for="Email" />
	</div>
	<div>
		@Html.ValidationSummary()
	</div>
	<input type="submit" value="Create" />
</form>        