@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model Geekium.Models.Account

@{
	ViewData["Title"] = "Delete";
}

<h4>Are you sure you wish to delete your account?</h4>
<p>This action cannot be undone!</p>
<div>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">Username:</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.UserName)</dd>
	</dl>

	<form asp-action="Delete">
		<input type="hidden" asp-for="AccountId" />
		<input type="submit" value="Delete" class="btn btn-danger" />
		<a asp-area="" asp-controller="Accounts" asp-action="Details" asp-route-id="@HttpContextAccessor.HttpContext.Session.GetString("userId")" class="btn btn-info">Cancel</a>
	</form>
</div>
