@{
	ViewBag.Title = "(500) An Error Occurred";
}
<h1>(500) An Error Occurred.</h1>
<p>Well this is embarassing, something went wrong on our end, please click <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">here</a> to go back to the homepage</p>
