@{
    ViewData["Title"] = "About";
}
<div class="text-center">
    <h1 class="display-4">All About Geekium!</h1>
</div>

<p style="text-align:center;">
    Geekium is a web application designed to allow our users to buy, sell or trade physical or digital copies of video games,
    as well as other related merchandise such as consoles, collectibles, wearables and toys.  </br>

    <img src="~/images/wicked-null-set.png" class="center" height="350" width="350" alt="Wicked Null Set Logo"/><br />
    Geekium was developed by Team Wicked Null Set consisting of members: Nathaniel Saunders, Andrew Truong, and Leunard Gervalla. </br>

</p><br />

<p class="about">
    <img src="~/images/buy-icon.png" height="70" width="70" alt="Buy icon"> With Geekium you are able to buy all sorts of products from any seller!<br />
</p><br />

<p class="about">
    <br />
    <img src="~/images/sell-icon.png" height="70" width="70" alt="Sell icon"> Sellers are more than welcome in Geekium, have a product you are looking to sell?  This is the place!</br>
</p><br/>

<p class="about">
    <img src="~/images/trade-icon.png" height="70" width="70" alt="Trade icon"/> Looking to trade?  Do not fret, you are free to your hearts content!</br>
</p><br />
