@{
    ViewData["Title"] = "Credit";
}

<div class="text-center">
    <h1 class="display-4">Geekium Commendations</h1>
</div>

<div class="text-center">
    <p>
        Geekium is a joint effort between Team Wicked Null Set which consists of members: Nathaniel Saunders, Andrew Truong, and Leunard Gervalla<br />

        <h2>Group Responsibilities: </h2><br />

        <div style="font-weight:bolder">Nathaniel Saunders</div><br />
        Team Leader, Project Planning, Project Record-Keeping, Web Programming, Technical/Lower-level Programming, Unit and Integration Testing, Database Design, SQL/LINQ Development<br />

        <br />

        <div style="font-weight:bolder">Andrew Truong</div><br />
        Diagramming and Documenting Overall Design, Technical Documentation, Web Programming, Class Design, Business Programming, Unit and Integration Testing, Report Development, Installer Development<br />

        <br />

        <div style="font-weight:bolder">Leunard Gervalla</div><br />
        Diagramming and Documenting Overall Design, Technical Documentation, Creating Web Graphics, Web Site Design, Web Page Design, Web Programming, Interactive Testing, Technical/Lower-Level Programming, Unit and Integration Testing<br />

        <br />

        Team Wicked Null Set does not own any of the images which have been attributed by the following: <br />
        <div>Search bar icon made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        <div>Buy icon made by <a href="https://www.flaticon.com/authors/vitaly-gorbachev" title="Vitaly Gorbachev">Vitaly Gorbachev</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        <div>Sell icon made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        <div>Trade icon made by <a href="https://www.flaticon.com/authors/monkik" title="monkik">monkik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        <div>Geekium logo by the team over at <a href="https://www.brandbucket.com/names/geekium" title="brandbucket">brandbucket</a></div>
        <div>Homepage image contribution by <a href="https://fivekatzantiques.com/selling-antiques-collectibles-in-a-brick-mortar-store-vs-online/" title="fivekatzantiques">fivekatzantiques</a></div>
        <div>Homepage image contribution by <a href="https://antiques.lovetoknow.com/Category:Vintage_Collectibles " title="lovetoknow">lovetoknow</a></div>
        <div>Homepage image contribution by <a href="https://www.pymnts.com/news/ecommerce/2020/as-classic-video-games-turn-into-collectibles-can-ecommerce-keep-up/" title="pymnts">pymnts</a></div>
    </p>
</div>