@model LoginViewModel
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome to Geekium!</h1>
</div>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


<!--Carousel -->
<div id="indexCarousel" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#indexCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#indexCarousel" data-slide-to="1"></li>
		<li data-target="#indexCarousel" data-slide-to="2"></li>
		<li data-target="#indexCarousel" data-slide-to="3"></li>
	</ol>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<div class="d-flex justify-content-center">
				<!--div class="d-flex justify-content-center" is meant-->
				<img src="~/images/geekium_logo.png" alt="Geekium Logo" height="450">
			</div>
		</div>
		<div class="carousel-item">
			<div class="d-flex justify-content-center">
				<img src="~/images/buy_products.jpg" alt="Marketplace" height="450">
			</div>
		</div>
		<div class="carousel-item">
			<div class="d-flex justify-content-center">
				<img src="~/images/geekium_collectibles.jpg" alt="Antique Collectibles" height="450">
			</div>
		</div>
		<div class="carousel-item">
			<div class="d-flex justify-content-center">
				<img src="~/images/collectible_product.jpg" alt="Game products" height="450"> <!--Image from https://www.pymnts.com/news/ecommerce/2020/as-classic-video-games-turn-into-collectibles-can-ecommerce-keep-up/ -->
			</div>
		</div>
	</div>
	<a class="carousel-control-prev" href="#indexCarousel" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#indexCarousel" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>
<br />
<!--End of Carousel-->

<div class="text-center">
	<p class="greeting">
		A local based place for anyone looking to buy, sell or trade products!  Anything in specific you are looking for today?
		<br /><br />
		Learn more about us on our <a asp-area="" asp-controller="Home" asp-action="About">About Page</a>!
		</br><br />
		Need assistance?  Head over to our <a asp-area="" asp-controller="Home" asp-action="Support">Support Page</a> where one of our professional Geeks are surely to help you!
		<br /><br />
		Have a question needing answering?  The <a asp-area="" asp-controller="Home" asp-action="FAQ">FAQ Page</a> may be just what you need!

	</p>
	<p>@HttpContextAccessor.HttpContext.Session.GetString("userId")</p>
</div>

