@model Support
@{
    ViewData["Title"] = "Support";
}

<div class="text-center">
    <h1 class="display-4">Get in contact with the Geeks of Geekium!</h1>
    <h4>The support page of Geekium</h4>
</div>

<form method="post" asp-controller="Home" asp-action="SendSupport">
	<div class="form-group">
		<label asp-for="SupportHeader" class="control-label">Subject:</label>
		<input asp-for="SupportHeader" type="text" class="form-control" id="supportHeader" aria-describedby="subjectHelp" placeholder="Subject" />
		<small id="subjectHelp" class="form-text text-muted">Give us a brief subject of the issue! </small>
	</div>
	<div class="form-group">
		<label asp-for="SupportBody" class="control-label">Body:</label>
		<input asp-for="SupportBody" type="text" class="form-control" id="supportbody" aria-describedby="subjectHelp" placeholder="Any issues regarding payment, account, users, or general knowledge can be asked here, be sure to check the FAQ page first!" />
		<small id="bodyHelp" class="form-text text-muted">Tell us why you're writing today! :)</small>
	</div>
	<div class="form-group">
		<input class="btn btn-primary" type="reset" value="Clear">
		<input class="btn btn-secondary" type="submit" value="Send" />
	</div>
	
</form>