@model Geekium.Models.SellerReview

@{
    ViewData["Title"] = "Delete";
}

<a class="btn btn-primary" type="button" asp-action="Index">Back to List</a><br />
<h1>Delete Rating for @Html.DisplayFor(model => model.Seller.Account.UserName)</h1>
<div class="col-md-12">
    <div class="card">
        <div class="card-block">
            <div class="card-body">
                Rating: @Html.DisplayFor(model => model.BuyerRating) <br />
                Description: @Html.DisplayFor(model => model.ReviewDescription) <br />
            </div>
        </div>
    </div>
    <br />
    <form asp-action="Delete">
        <input type="hidden" asp-for="SellerReviewId" />
        <input type="submit" value="Delete" class="btn btn-outline-danger form-control col-md-6" />
    </form>
</div>
