@model IEnumerable<Geekium.Models.SellerReview>

<h1 style="text-align: center">Reviews for @ViewBag.Seller</h1>
<h3 style="text-align: center">Average Rating: @ViewBag.Average</h3>

<body>
    @foreach (var item in Model)
    {
        <div class="col-md-12">
            <div class="card">
                <div class="card-block">
                    <div class="card-body">
                        <p class="card-text">Buyer Name: ...</p>
                        <p class="card-text">Rating: @Html.DisplayFor(model => item.BuyerRating)</p>
                        <p class="card-text">Description: @Html.DisplayFor(model => item.ReviewDescription)</p>
                    </div>
                </div>
            </div>
        </div>
    }
</body>