@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject IOptions<Geekium.Data.StripeSettings> Stripe
@{
    ViewData["Title"] = "CartPayment";
}
<!DOCTYPE html>
<div class="text-center">
    <h1 class="display-4">Cart Checkout</h1>
</div>

<div class="text-center">
    <form asp-action="CheckOut" asp-controller="Carts" method="POST">
        <article>
            <label>Sum: @HttpContextAccessor.HttpContext.Session.GetString("subTotal")</label> <!--If not working add this line also to data-amount-->
        </article>
        <script src="//checkout.stripe.com/v2/checkout.js"
                class="stripe-button"
                data-key="@Stripe.Value.PublishableKey"
                data-locale="auto"
                data-description="Product Checkout"
                data-amount="@HttpContextAccessor.HttpContext.Session.GetString("subTotal")"
                data-currency="cad">
        </script>
    </form>
</div>
