@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject IOptions<Geekium.Data.StripeSettings> Stripe
@{
    ViewData["Title"] = "CartPayment";
}
<!DOCTYPE html>
<div class="text-center">
    <h1 class="display-4">Cart Checkout</h1>
</div>

<div class="text-center">
    <p>Sub Total: $@ViewBag.subTotal.ToString("#0.00")</p>
    <p>Tax: $@ViewBag.tax.ToString("#0.00")</p>
    <form asp-action="CheckOut" asp-controller="Carts" method="POST">
        <article>
            <label>Sum: $@ViewBag.total.ToString("#0.00")</label>
        </article>
        <script src="//checkout.stripe.com/v2/checkout.js"
                class="stripe-button"
                data-key="@Stripe.Value.PublishableKey"
                data-locale="auto"
                data-description="Product Checkout"
                data-amount="@ViewBag.totalStripe"
                data-currency="cad">
        </script>
    </form>
</div>
