@{
    ViewData["Title"] = "Checkout";
}
<!DOCTYPE html>


<h2 style="text-align:center">Cart Checkout</h2>

<body>
    @if (ViewBag.cart != null && ViewBag.cart.Count > 0) 
    {
        <p align="center">Transaction Complete!</p>
    }
    else
    {
        <h4 style="text-align:center">Under Construction!</h4>
    }
</body>