@model IEnumerable<Geekium.Models.Reward>
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
	ViewData["Title"] = "Rewards";
}

<h1>Rewards</h1>
<h3>Your Points Balance: @HttpContextAccessor.HttpContext.Session.GetInt32("pointsBalance")</h3>
<br />
<div style="align-content: center; align-items: center;">
	<div class="form-inline">
		<a class="btn btn-outline-info form-control col-md-4" role="button" asp-action="SpendPoints">Use Your Points</a>
	</div>
</div>
<br />
<table class="table">
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.RewardType)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DateReceived)
				</td>
				<td>
					<a class="btn-outline-primary" asp-area="" asp-controller="Rewards" asp-action="UseReward" asp-route-id="@item.RewardId">Redeem</a>
				</td>
			</tr>
			}
		</tbody>
	</table>
